/***** Principal *****/
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: Be vietnam, sans-serif;
    /* background-image: url('../imagenes/bg-tablet-pattern.svg');
    background-repeat: no-repeat; */
    /* background-position: 700px -190px; */
    /* background-position: 140% 160%; */
}
/***** header *****/
header {
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav {
    width: 600px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 500;
    color: #242E52;
    font-size: 13px;
}
.botones {
    font-size: 15px;
    background-color: #F3603B;
    color: #FFFFFF;
    border:#F3603B;
    width: 135px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
/***** Main section 1 article 1 *****/
article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.article1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    margin: 5%;
}
h1 {
    color: #232C50;
    font-size: 58px;
}
section article div p {
    font-size: 18px;
    font-weight: 500;
    line-height: 157.1%;
    width: 70%;
}
/***** article 2 *****/
h2 {
    color: #232C50;
    font-size: 36px;
}
.article2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 250px;
}
.lista {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.numeros {
    background-color: #F3613C;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    padding: 8px 25px;
    width: 70px;
    height: 43px;
}
article div div h3 {
    color: #323851;
    font-size: 19px;
    font-weight: 700;
    line-height: 60px;
}
.texto {
    color: #B3B2B7;
    line-height: 30px;
    font-size: 17px;
    width: 500px;
}
