/* header */
* {
    box-sizing: border-box;
}

body {  
    font-family: Roboto, sans-serif;    

}   
header {    
    background-color: #1CD1B0;  
    
}
header p {
    height: 20px;
    padding: 14px;
}
h1 {
    background-color: #00669F;
    height: 100px;
    padding: 35px;
    box-shadow: 0px 7px 8px 0px rgb(185, 185, 185);
}
/* main sections article*/
.art-position {
    position: relative;
    background-color: #F3F3F3;
    display: inline-block;
    width: 300px;
    height: 530px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 150px;
    margin-left: 100px;
    box-shadow: 0px 5px 7px 0px rgb(185, 185, 185);
    margin-bottom: 200px;
}

h2  {
    text-align: center;
    padding-top: 40px;
}
.alineotexto {
    padding: 0px 15px 60px 15px;

}
.boton {
    background-color: #00669F;
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px 0px 5px 18px;
    position: relative;
    left: 95px;
    bottom: 35px;

}
.perfil img {
    position: absolute;
    top: 120px;
    left: 93px;
    border-radius: 50%;
    
}
.perfil2 img {
    position: absolute;
    top: 120px;
    left: 93px;
    border-radius: 50%;
}
.perfil3 img {
    position: absolute;
    top: 120px;
    left: 93px;
    border-radius: 50%;
}
.like {
    position: absolute;
    top: 15px;
    left: 12px;
}
footer p {
    background-color: #00669F;
    color: white;
    height: 50px;
    padding: 15px 0px 10px 20px;
}

