/* header */
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    /* height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
    font-family: Roboto, sans-serif;    
}   

header p {
    background-color: #1CD1B0;
    height: 50px;
    padding: 14px;
    font-size: 25px;
}
h1 {
    font-size: 40px;
    background-color: #00669F;
    height: 120px;
    padding: 35px;
    margin-top: 0px;
    box-shadow: 0px 7px 8px 0px rgb(185, 185, 185);
}
/* main sections article*/

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.art-position {
    position: relative;
    background-color: #F3F3F3;
    width: 300px;
    height: 550px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 0px 5px 7px 0px rgb(185, 185, 185);
}
h2  {
    text-align: center;
    padding-top: 60px;
}
.alineotexto {
    position:absolute;
    padding: 0px 15px 60px 15px;
}
.bordeimagen {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.boton {
    background-color: #00669F;
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px 0px 5px 18px;
    position: absolute;
    left: 95px;
    bottom: 35px;
}
.perfil img{
    position: absolute;
    top: 120px;
    left: 93px;
    border-radius: 50%;
    box-shadow: 0px 3px 3px 0px rgb(185, 185, 185);
}
.like {
    position: absolute;
    top: 15px;
    left: 12px;
}
/**** FOOTER ****/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #00669F;
    color: white;
    padding: 15px 0px 10px 20px;
    height: 60px;
}
footer img {
    margin-right: 1%;
    width: 100px;
    height: 30px;
}


@media (max-width: 1217px) {
    .art-position {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
@media (max-width: 618px) {
    .oculto {
        display: none;
        }
    footer {
        flex-direction: column;
        align-items: center;
        padding: 1px 1px 1px 1px;
        }
    footer p {
        font-size: 15px;
    }
    footer img {
        width: 70px;
        height: 20px;
    }
}